* {
  background-color: #333;
  color: #DDD;
}

.jason {
  background-image: url("https://avatars2.githubusercontent.com/u/1414364?v=2&u=e91678e29df8b498098751349736747b57301b06&s=140");
  display: block;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #444;
}
