* {
  font-family: Lato, Arial, sans-serif;
}

.jason {
  background-image: url("https://avatars2.githubusercontent.com/u/1414364?v=2&u=e91678e29df8b498098751349736747b57301b06&s=140");
}

.profile {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #fff;
}


body {
  padding-top: 20px;
}
p {
  font-size: 16px;
}
.headerDoc {
  color: #005580;
}

@media (max-width: 767px) {
  #toc {
    position: relative;
    width: 100%;
    margin: 0px 0px 20px 0px;
  }
}
