* {
  font-family: Lato, Arial, sans-serif;
}

.jason {
  background-image: url("https://avatars2.githubusercontent.com/u/1414364?v=2&u=e91678e29df8b498098751349736747b57301b06&s=140");
}

.profile {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #fff;
}

.table-of-contents {
    width: 20%;
    max-width: 200px;
    min-width: 140px;
}

.table-of-contents ul {
    display: block;
    padding-left: 10px;
    margin: 0px;
    margin-top: 10px;
    background-color: #FA0;
}

.table-of-contents ul li {
    display: block;

}
